body {
  margin: 0 0 0 0;
}

header {
  padding-left: 2rem;
  grid-area: header;
  display: flex;
  align-items: center;
  height: 3.8rem;
  background-color: #bbb;
  border-bottom: 2px solid #f0f0f0;
  position: sticky;
  top: 0;
}
header li {
  display: inline;
  margin-left: 2rem;
}


nav.toc {
  margin: 2rem;
}

nav.toc ol {
  list-style-type: none;
}
nav.toc li {
  margin-top: 1rem;
}
nav.toc a {
  font-size: 0.8rem;
  color: grey;
}
nav.toc a:hover, .sidebar nav a.active, .sidebar nav a.current {
  color: blue;
  transition: color 0.5s;
}

main {
  margin-left: 2rem;
  margin-right: 2rem;
}

footer {
  grid-area: footer;
  color: white;
  background-color: #999;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

footer span {
  padding: 1rem;
}
